<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/server-img.png') }}">
    <title>Iniciar prova</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static',filename='img/nav-colors.png') }}" class="nav-colors"/>
        <nav>
            <img src="{{ url_for('static',filename='img/logo-bosch.png') }}" class="logo"/>
            <form action="/change_values" method="get">
                <button class="nav-button" type="submit">Trocar valores</button>
            </form>
        </nav>
    </header>
    <main>
        <form action="/timer" method="post">
            <h1>Defina o tempo de prova</h1>
            <div class="define_time">
                <label for="minutes">Minutos</label>
                <input type="text" name="minutes" placeholder="Tempo padrão: 30 minutos" id="time" autocomplete="off">
                <div class="error" id="error"></div>
            </div>
            <button class="default-button" type="submit" id="button">Iniciar prova</button>
            <script src="{{ url_for('static', filename='js/verify.js')}}"></script>
        </form>
    </main>
</body>
</html>

